<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar Nuevo Libro | SIB</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">


</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style="max-width: 1000px; height: auto;">
    <h1>Sistema Bibliotecario CEMSAD 37</h1>
    <h1>Registrar Nuevo Libro</h1>
    <form method="POST" action="/registrar_libro">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required><br><br>

        <label for="autor">Autor:</label>
        <input type="text" id="autor" name="autor" required><br><br>

        <label for="genero">Género:</label>
        <input type="text" id="genero" name="genero"><br><br>

        <label for="año_publicacion">Año de Publicación:</label>
        <input type="number" id="año_publicacion" name="año_publicacion"><br><br>

        <label for="ejemplares">Ejemplares Disponibles:</label>
        <input type="number" id="ejemplares" name="ejemplares" required><br><br>

        <button type="submit">Registrar Libro</button>
    </form>
</body>
</html>
